.myItemNameCart {
    color: #0167C0;
    font-size: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-overflow: ellipsis;

}


.myRemoveButton {
    margin-top: 5px !important;
    margin-left: -5px !important;
    top: 70%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 80%;
}

.myCartViewPrice {
    color: #FF9200;
    top: 50%;

    font-size: 20px;
    position: absolute;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.myTotalAmount {
    color: #FF9200;
    font-size: 30px;
}

.itemContainerCart {
    border-bottom: solid 1px rgba(128, 128, 128, 0.5);
}

@media screen and (min-width:768px) {
    .myItemNameCart {
        font-size: 25px;

    }

    .myItemNameCart {
        font-size: 20px;
    }



    .myCartViewPrice {
        margin-left: 40px !important;
    }

    .myRemoveButton {
        margin-left: 40px !important;
        top: 85%;
    }
}